global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8888']

  - job_name: 'services'
    static_configs:
      - targets:
        - 'identityservice:8080'
        - 'orderservice:8080'
        - 'paymentprocessorservice:8080'